@using Microsoft.AspNetCore.Identity
@model List<IdentityRole>

<div class="col-lg-12">
    <div class="row justify-content-end">
        <div class="">
            <a asp-controller="role" asp-action="create" class="btn btn-secondary">Add new role</a>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Roles</h4>
        </div><!--end card-header-->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Role Name</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model)
                        {
                            <tr>
                                <td>@role.Name</td>
                                <td class="text-end">
                                    <a asp-controller="role" asp-action="update" asp-route-id="@role.Id"><i class="las la-pen text-secondary font-16"></i></a>
                                    <form method="POST"asp-controller="user" asp-action="delete" asp-route-id="@role.Id" id="role-form-@role.Id"></form>
                                    <button type="submit" form="role-form-@role.Id">
                                        <i class="las la-trash-alt text-secondary font-16"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>