@using EduMapBackendProject.Areas.Admin.ViewModels.Role
@model UpdateRoleViewModel
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Slider</h4>
            </div>
            <div class="card-body">
                <div class="general-label">
                    <form method="post" asp-controller="role" asp-action="update">
                        @foreach (var role in Model.Roles)
                        {
                            <input @(Model.UserRoles.Any(ur => ur == role.Name) ? "checked" : "") type="checkbox" value="@role.Name" name="roles" /> @role.Name <br />
                        }
                        <button type="submit">Change role</button>
                    </form>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div>
</div>