@using EduMapBackendProject.DAL.Entities
@model List<Slider>

<div class="col-lg-12">
    <div class="row justify-content-end">
        <div class="">
            <a asp-route="admin-slider-add" class="btn btn-secondary">Add new slider</a>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Slider</h4>
        </div><!--end card-header-->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Tittle</th>
                            <th>Desctiption</th>
                            <th>Image</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var slider in Model)
                        {
                            <tr>
                                <td>@slider.Title</td>
                                <td>@slider.Description</td>
                                <td> <img src="~/@slider.Url" width="10%"> </td>
                                <td class="text-end">
                                    <a asp-controller="slider" asp-action="update" asp-route-id="@slider.Id"><i class="las la-pen text-secondary font-16"></i></a>
                                    <form method="POST"asp-controller="slider" asp-action="delete" asp-route-id="@slider.Id" id="slider-form-@slider.Id"></form>
                                    <button type="submit" form="slider-form-@slider.Id">
                                        <i class="las la-trash-alt text-secondary font-16"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>